<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body class="bg-dark">
<header th:insert="blocks/header :: header"> </header>

<div id="app">

<h1 style="font-family: Bahnschrift,serif; color: #c50f0f; text-align: center" >Find your car</h1>
    <h3 style="font-family: Bahnschrift,serif; color: #c50f0f; text-align: center" >it`s easier than you think...</h3>

    <div th:align="center">
    <select style="font-family: Bahnschrift,serif; align-items: center" v-model="level1" @change="chooselevel1">
        <option :value="item" v-for="item in Object.keys(level1List)">{{item}}</option>
    </select>


    <select style="font-family: Bahnschrift,serif" v-model="level2" v-if="level1">
        <option :value="item" v-for="item in level2List">{{item}}</option>
    </select>

     <br>
    <b><a class="link-danger" style="font-family: Bahnschrift,serif" target="_blank" :href="`https://www.google.com/search?q=${level1}%20${level2}&tbm=isch`">{{ level1 }} {{ level2 }}</a></b>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            level1: "",
            level2: "",

            level1List: [],
            level2List: [],

            json: []
        },

        methods: {
            chooselevel1() {
                this.level2 = ""
                this.level2List = []

                this.level2List = this.level1List[this.level1]
            },
        },
        async mounted() {
            const response = await axios.get('/database/cars.json')
            this.json = response.data
            this.level1List = this.json.list
            console.log(this.level1List);
        }
    })
</script>

</body>
</html>