<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog edit</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/styles/home.css" rel="stylesheet" type="text/css">
</head>


<body class="bg-dark">
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="album py-5 bg-light bg-dark" id="cards">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 py-3 mt-2">


                <div class="col" th:each="el : ${posts}">
                    <div class="card shadow-sm border-danger">

                        <img height="225" th:if="${!el.getImages().isEmpty()}"
                             th:src="'/blog/files/' + ${el.getImages().get(0)}" width="100%">


                        <div class="card-body">

                            <p class="card-text" th:text="${el.title}"></p>
                            <p class="card-text" th:text="${el.anons}"></p>
                            <div class="d-flex justify-content-between align-items-center ">


                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" th:href="'/blog/' + ${el.id}">View</a>
                                </div>

                                <a class="btn btn-sm btn-danger" th:href="'/admin/blog/' + ${el.id} +'/edit'">Edit</a>

                                <form th:action="'/admin/blog/' + ${el.id} +'/delete'" th:method="DELETE">
                                    <button class="btn btn-sm btn-danger text-end" type="submit">Delete</button>
                                </form>
                            </div>
                            <small>
                                <p class="card-text mt-2" th:text="'Posted: ' + ${el.getData().toLocaleString()}"></p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
