<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blog of site</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles -->
    <link href="/styles/blog-add.css" rel="stylesheet" type="text/css">
</head>

<body class="bg-dark" id="blogAdd">
<header th:insert="blocks/header :: header"></header>
<main>

    <div class="container mt-5 mb-5 py-5 border-danger">
        <h1>Add Post</h1>

        <form action="/admin/blog/add" enctype="multipart/form-data" th:method="POST">


            <input class="form-control" name="title" placeholder="Write the name of the post" type="text">
            <br>
            <input class="form-control" name="anons" placeholder="Write the anons of the post" type="text">
            <br>
            <textarea class="form-control" name="fullText" placeholder="Write the full text of the post"></textarea>
            <br>

            <button class="btn btn-danger text-dark" type="submit">Add post</button>
        </form>

        <div id="message" th:if="${message}">
            <h2 th:text="${message}"></h2>
        </div>

        <div id="wrong">
            <h2 th:text="${wrong}"></h2>
        </div>

        <div>

            <h2 class="mt-5 text-danger text-decoration-none">Files to upload:</h2>
            <br>

            <div class="album bg-dark" id="cards">
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
                        <div class="col card shadow-sm bg-dark">
                            <div class="card-body" th:each="el : ${imageList}">
                                <img alt="" class="img-fluid border-danger" height="225"
                                     th:src="'/blog/files/' + ${el}" width="100%">


                                <form class="text-center" th:action="'/admin/blog/add/' + ${el} +  '/delete'"
                                      th:method="DELETE">
                                    <button class="btn btn-danger text-end text-dark mt-2" type="submit">Delete</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="/admin/blog/add/upload" enctype="multipart/form-data" th:method="POST">

            <label class="mt-2">
                <input name="file" type="file"/>
            </label>
            <br>
            <input class="btn btn-dark text-danger border-danger mt-2" placeholder="Choose the file" type="submit"
                   value="Upload"/>
        </form>

    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>