<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Blog of site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/blog-details.css">

</head>

<header th:insert="blocks/header :: header"> </header>

<body class="bg-dark" id="blogDetails">
<main>

<div class="container-xl align-content-center py-4">

    <div th:each="el : ${post}" class="alert alert-light ">

        <h3 th:text="${el.title}" class="text-center"></h3>

            <div th:if="${!el.getImages().isEmpty()}" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img height="650" width="100%" th:src="@{'/blog/files/' + ${el.images.remove(0)}}">
                    </div>

                    <div class="carousel-item" th:each="img : ${el.getImages}">
                        <img height="650" width="100%" th:src="'/blog/files/' + ${img}">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Наступний</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Попередній</span>
                </button>
            </div>


             <p th:text="${el.fullText}"></p>

             <hr style="color: #c50f0f">
             <p th:text="'Posted: ' + ${el.data.toGMTString()}  "></p>

    </div>
</div>

</main>
</body>

<div th:insert="blocks/footer :: footer"></div>

</html>