<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Blog of site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"> </header>

<div class="container-fluid shadow-none align-content-center ">

    <div th:each="el : ${post}" class="alert alert-dark ">

        <h3 th:text="${el.title}" class="text-center"></h3>
        <img th:src="${el.fileLink}" class="rounded mx-auto d-block img-fluid">
        <p th:align="center" th:text="${el.full_text}"></p>

        

        <a th:href="'/blog/' + ${el.id} +'/edit'" class="btn btn-warning">Edit</a>

        <form th:action="'/blog/' + ${el.id} +'/delete'" th:method="DELETE">
            <button class="btn btn-warning text-end" type="submit">Delete</button>
        </form>

    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>