<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custom styles -->
    <link href="/styles/car-finder.css" rel="stylesheet">
</head>

<body class="bg-dark">
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container mt-5 py-5" id="app">

        <h1>Find your car</h1>
        <h3>it`s easier than you think...</h3>

        <div class="container text-center">
            <label>
                <select @change="chooselevel1" class="form-select-sm" size="1" v-model="level1">
                    <option :value="item" v-for="item in Object.keys(level1List)">{{item}}</option>
                </select>
            </label>

            <label>
                <select class="form-select-sm" size="1" v-if="level1" v-model="level2">
                    <option :value="item" v-for="item in level2List">{{item}}</option>
                </select>
            </label>


            <b><a :href="`https://www.google.com/search?q=${level1}%20${level2}&tbm=isch`"
                  class="link-danger text-decoration-none" style="font-family: Bahnschrift,serif"
                  target="_blank">{{ level1 }} {{ level2 }}</a>
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </b>
        </div>
    </div>


    <script id="selectId">
        const app = new Vue({
            el: '#app',
            data: {
                level1: "",
                level2: "",
                level1List: [],
                level2List: [],
                json: []
            },

            methods: {
                chooselevel1() {
                    this.level2 = ""
                    this.level2List = []
                    this.level2List = this.level1List[this.level1]
                },
            },
            async mounted() {
                const response = await axios.get('/database/cars.json')
                this.json = response.data
                this.level1List = this.json.list
                console.log(this.level1List);
            }
        })
    </script>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>