<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
User Editor


<form th:action="@{/admin}" th:method="PATCH">
    <div th:each="role : ${roles}">
      <label>
        <input type="checkbox" th:name="${role}" th:text="${role}">
      </label>
    </div>

    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="text" th:value="${user.username}" name="userName">
    <button type="submit">Save</button>
</form>

<form th:each="u : ${user}" th:action="'/admin/' + ${u.id} + '/delete'" th:method="DELETE">
    <button class="btn btn-danger text-end" type="submit">Delete</button>
</form>

</body>
</html>