<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<header th:insert="blocks/header :: header"> </header>

<body class="bg-dark">

<div class="text-danger">
    <ul th:each="user : ${users}">
        <li th:text="${user.username}"></li>
        <li th:text="${user.getRoles()}"></li>
        <a th:href="'/admin/' + ${user.id}">Edit</a>
    </ul>
</div>


</body>
</html>