<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
User Editor 1


<form th:action="@{/user}" th:method="PATCH">
    <div th:each="role : ${roles}">
      <label>
        <input type="checkbox" th:name="${role}" th:text="${role}">
      </label>
    </div>

    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="text" th:value="${user.username}" name="userName">
    <button type="submit">Save</button>
</form>


</body>
</html>