<nav class="navbar navbar-expand-md fixed-top bg-dark border-bottom border-danger" id="headerFont" th:fragment="header">
    <link rel="stylesheet" th:href="@{/styles/header.css}" type="text/css">
    <div class="container-fluid">
        <a class="d-flex align-items-center text-dark text-decoration-none" href="/">
            <span class="fs-4 bg-danger rounded-bottom">Autotheme</span>
        </a>

        <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler collapsed"
                data-bs-target="#navbarHeader" data-bs-toggle="collapse" type="button">
            <svg class="bi bi-back" fill="currentColor" height="35" viewBox="0 0 16 16" width="35"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
            </svg>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
            <ul class="navbar-nav d-flex align-items-sm-start align-items-md-center">
                <li class="nav-item py-2">
                    <a class="me-3 py-2 text-danger text-decoration-none" href="/admin"
                       th:if="${isAuthorized}">Admin</a>
                </li>
                <li class="nav-item py-2">
                    <a class="me-3 py-2 text-danger text-decoration-none" href="/blog">Blog</a>
                </li>
                <li class="nav-item py-2">
                    <a class="me-3 py-2 text-danger text-decoration-none" href="/find">Car Finder</a>
                </li>

                <li class="nav-item dropdown py-sm-2">

                    <a aria-expanded="false"
                       class="dropdown-toggle bg-danger text-decoration-none text-dark btn btn-danger"
                       data-bs-toggle="dropdown"
                       id="dropdownMenuButton" th:if="${isAuthenticated}" th:text="${username}" type="button">
                    </a>

                    <a aria-expanded="false"
                       class=" dropdown-toggle bg-danger text-decoration-none text-dark btn btn-danger"
                       data-bs-toggle="dropdown"
                       th:if="!${isAuthenticated}" type="button">
                        Sign in
                    </a>

                    <ul aria-labelledby="menu1"
                        class="dropdown-menu dropdown-menu-sm-start dropdown-menu-md-end dropdown-menu-lg-end bg-danger"
                        role="menu">
                        <li role="presentation"><a class="dropdown-item d-flex gap-2 align-items-center rounded-2"
                                                   href="/login" th:if="!${isAuthenticated}" th:method="GET">Login</a>
                        </li>
                        <li role="presentation"><a class="dropdown-item d-flex gap-2 align-items-center rounded-2"
                                                   href="/logout"
                                                   th:if="${isAuthenticated}" th:method="GET">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--Css links-->
    <link href="/styles/header.css" rel="stylesheet">
</nav>