<div th:fragment="header" id="headerFont">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <div class="d-flex flex-md-row dropdown-header bg-dark border-bottom border-danger">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4 bg-danger rounded-bottom">Autotheme</span>
        </a>

        <nav class="mt-2 mt-md-0 ms-md-auto bg-danger rounded-bottom">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Blog</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/find">Car Finder</a>

            <div class="btn-group">
                <a class="btn btn-secondary dropdown-toggle bg-danger text-dark" type="button" id="dropdownMenuButton"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Sign in
                </a>
                <ul class="dropdown-menu bg-danger me-3 py-2" aria-labelledby="dropdownMenuButton">
                    <li><a class="text-decoration-none dropdown-item" href="/login">Login</a></li>
                    <li>
                        <form class="dropdown-item bg-danger text-dark" th:action="@{/logout}" th:method="POST">
                            <input class="btn-danger text-dark" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>