h1{
    font-family: Bahnschrift,serif; color: #c50f0f; text-align: center
}

h3{
    font-family: Bahnschrift,serif; color: #c50f0f; text-align: center
}

select{
    font-family: Bahnschrift,serif; align-items: center
}
